<h4>Tous les Gossips</h4>
<!-- <p><strong>Gossip</strong>
  <%= @gossip.content %></p> -->

  <p>
    <strong>Author: </strong>
    <%= @gossip.anonymous_author %>
  </p>

  <p>
    <strong>Content :</strong>
    <%= @article.content %>
  </p>
