<!DOCTYPE html>
<html>
  <head>
    <title>GossipGirlIl</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Rajouter Tacit pour une CSS basique -->
    <link rel="stylesheet" href="http://cdn.rawgit.com/yegor256/tacit/gh-pages/tacit-css-1.2.8.min.css"/>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
